/*1025-1199*/
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
}
/*992-1024*/
@media only screen and (min-width: 992px) and (max-width: 1024px) {
}

/*768-991*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/*576-767*/
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .modal-dialog.modal-dialog-centered.formModel {
    max-width: 560px !important;
  }
  h1.formTitle {
    font-size: 26px;
  }
}
/*480-575*/
@media only screen and (min-width: 480px) and (max-width: 575px) {
  h1.formTitle {
    font-size: 26px;
  }
  .progressDiv {
    width: 340px;
  }
  p.form3_firstp {
    font-size: 20px;
  }
}
/*425-479*/
@media only screen and (min-width: 425px) and (max-width: 479px) {
  h1.formTitle {
    font-size: 26px;
  }
  .progressDiv {
    width: 297px;
  }
  p.form3_firstp {
    font-size: 20px;
  }
  .form1,
  .form2,
  .form3 {
    width: 100%;
    margin: auto;
    padding: 15px;
  }
  .evaluate_data h1 {
    font-size: 21px;
  }
  .dataText h3 {
    font-size: 21px;
  }

  .dataText p {
    font-size: 17px;
  }

  h1.formTitle.thankyoutitle {
    font-size: 21px;
  }
  button.guide_Btn.thankyouguide {
    background: #4e7066;
    width: 100%;
    margin: auto;
  }
  label.btn.optionBtn {
    width: 165px;
  }
  .error_text {
    font-size: 13px;
    padding-left: 14px;
  }
}
/*375-424*/
@media only screen and (min-width: 375px) and (max-width: 424px) {
  h1.formTitle {
    font-size: 26px;
  }
  .progressDiv {
    width: 250px;
  }
  p.form3_firstp {
    font-size: 20px;
  }
  .form1,
  .form2,
  .form3 {
    width: 100%;
    margin: auto;
    padding: 15px;
  }
  .evaluate_data h1 {
    font-size: 21px;
  }
  .dataText h3 {
    font-size: 21px;
  }

  .dataText p {
    font-size: 17px;
  }

  h1.formTitle.thankyoutitle {
    font-size: 21px;
  }
  button.guide_Btn.thankyouguide {
    background: #4e7066;
    width: 100%;
    margin: auto;
  }
  label.btn.optionBtn {
    width: 138px;
  }
  .error_text {
    font-size: 13px;
    padding-left: 14px;
  }
  .svg-container svg {
    height: 100%;
    width: 40px;
    color: #759189;
    fill: #759189;
  }

  button.guide_Btn {
    padding: 15px 10px;
  }
}
/*320-374*/
@media only screen and (min-width: 320px) and (max-width: 374px) {
  h1.formTitle {
    font-size: 26px;
  }
  .progressDiv {
    width: 201px;
  }
  p.form3_firstp {
    font-size: 20px;
  }
  .form1,
  .form2,
  .form3 {
    width: 100%;
    margin: auto;
    padding: 15px 6px;
  }
  .evaluate_data h1 {
    font-size: 21px;
  }
  .dataText h3 {
    font-size: 21px;
  }

  .dataText p {
    font-size: 17px;
  }

  h1.formTitle.thankyoutitle {
    font-size: 21px;
  }
  button.guide_Btn.thankyouguide {
    background: #4e7066;
    width: 100%;
    margin: auto;
  }
  label.btn.optionBtn {
    width: 120px;
  }
  .error_text {
    font-size: 13px;
    padding-left: 14px;
  }
  .svg-container svg {
    height: 100%;
    width: 40px;
    color: #759189;
    fill: #759189;
  }
  /* preloader */
  .preloader {
    position: relative;
    width: 6em;
    height: 8em;
    margin: auto;
  }
  .spinner {
    width: 6em;
    height: 6em;
  }
  .checkmark {
    top: 40%;
  }
  .spinnerdiv .preloaderdiv {
    padding-top: 18px;
  }
  .bookimg.text-center img {
    width: 135px;
  }
  /* preloader end */
}
