/* font link */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --orange-50: #fff6ee;
  --orange-75: #fff1e5;
  --orange-100: #fdddcd;
  --orange-200: #ffb67e;
  --orange-300: #ff8426;
  --orange-400: #ff7206;
  --orange-500: #cc5b05;
  --orange-600: #ad4d04;
  --orange-700: #8b3e03;
  --orange-800: #763503;
  --orange-900: #552602;
  --pink-50: #fef5fd;
  --pink-75: #fef1fc;
  --pink-100: #fad5f6;
  --pink-200: #f6aeee;
  --pink-300: #f28fe8;
  --pink-400: #ca77c1;
  --pink-500: #aa65a3;
  --pink-600: #90558a;
  --pink-700: #73446f;
  --pink-700-alpha-50: rgba(115, 68, 111, 0.5);
  --pink-800: #613a5d;
  --purple-900: #2b1338;
  --chartreuse-50: #f2fdc8;
  --chartreuse-100: #d1ec65;
  --chartreuse-200: #b8d059;
  --chartreuse-300: #9aaf4a;
  --chartreuse-400: #8a9c43;
  --chartreuse-500: #748438;
  --chartreuse-600: #626f2f;
  --chartreuse-700: #4f5926;
  --chartreuse-800: #424b20;
  --chartreuse-900: #303617;
  --blue-50: #f3f8ff;
  --blue-75: #e0edff;
  --blue-100: #cee2ff;
  --blue-200: #a3c8ff;
  --blue-200-alpha-25: rgba(163, 200, 255, 0.25);
  --blue-200-alpha-60: rgba(163, 200, 255, 0.6);
  --blue-300: #6ca7ff;
  --blue-300-alpha-25: rgba(108, 167, 255, 0.25);
  --blue-400: #4b93ff;
  --blue-500: #1b76ff;
  --blue-600: #005fec;
  --blue-700: #004cbf;
  --blue-800: #0041a2;
  --blue-900: #002f76;
  --blue-1000: #0b2332;
  --green-25: #f7fcf8;
  --green-50: #edf8ef;
  --mint-50: #d6faf0;
  --mint-100: #a8f6df;
  --mint-200: #90d3bf;
  --mint-300: #79b1a0;
  --mint-400: #6c9e8f;
  --mint-500: #5b8579;
  --mint-600: #4d7066;
  --mint-700: #3e5a52;
  --mint-800: #344c45;
  --mint-900: #19332e;
  --white: #fff;
  --white-alpha-0: hsla(0, 0%, 100%, 0);
  --white-alpha-10: hsla(0, 0%, 100%, 0.1);
  --white-alpha-30: hsla(0, 0%, 100%, 0.3);
  --white-alpha-50: hsla(0, 0%, 100%, 0.5);
  --white-alpha-75: hsla(0, 0%, 100%, 0.75);
  --white-alpha-80: hsla(0, 0%, 100%, 0.8);
  --white-alpha-85: hsla(0, 0%, 100%, 0.85);
  --gray-50: #f9f9fa;
  --gray-100: #f3f4f6;
  --gray-200: #e7eaee;
  --gray-200-alpha-15: rgba(231, 234, 238, 0.15);
  --gray-200-alpha-25: rgba(231, 234, 238, 0.25);
  --gray-200-alpha-35: rgba(231, 234, 238, 0.35);
  --gray-200-alpha-80: rgba(231, 234, 238, 0.8);
  --gray-300: #d0d5dd;
  --gray-300-alpha-17: rgba(208, 213, 221, 0.17);
  --gray-300-alpha-30: rgba(208, 213, 221, 0.3);
  --gray-300-alpha-40: rgba(208, 213, 221, 0.4);
  --gray-300-alpha-50: rgba(208, 213, 221, 0.5);
  --gray-400: #98a2b3;
  --gray-400-alpha-60: rgba(152, 162, 179, 0.6);
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-600-alpha-3: rgba(71, 84, 103, 0.03);
  --gray-600-alpha-35: rgba(71, 84, 103, 0.35);
  --gray-700: #344054;
  --gray-700-alpha-5: rgba(52, 64, 84, 0.05);
  --gray-800: #101828;
  --gray-800-alpha-5: rgba(16, 24, 40, 0.05);
  --gray-800-alpha-8: rgba(16, 24, 40, 0.08);
  --gray-800-alpha-10: rgba(16, 24, 40, 0.1);
  --gray-800-alpha-15: rgba(16, 24, 40, 0.15);
  --gray-800-alpha-50: rgba(16, 24, 40, 0.5);
  --gray-800-alpha-95: rgba(16, 24, 40, 0.95);
  --warning-50: #fffbf1;
  --warning-100: #fff6e7;
  --warning-200: #ffefc8;
  --warning-300: #ffe8af;
  --warning-400: #fec84b;
  --warning-500: #fdb022;
  --warning-600: #e49e1f;
  --warning-700: #d1911a;
  --error-50: #fef3f2;
  --error-100: #ffdbd9;
  --error-200: #fed0cd;
  --error-300: #fda29b;
  --error-400: #f36359;
  --error-500: #f04438;
  --error-500-alpha-20: rgba(240, 68, 56, 0.2);
  --error-600: #d92d20;
  --error-700: #b42318;
  --success-50: #ecfdf3;
  --success-75: #d5fbe5;
  --success-100: #abefc6;
  --success-300: #75e0a7;
  --success-400: #45ad7e;
  --success-600: #079455;
  --success-700: #067647;
  --step--2: clamp(0.79rem, calc(0.77rem + 0.1vw), 0.87rem);
  --step--1: clamp(0.89rem, calc(0.88rem + 0.06vw), 0.94rem);
  --step-0: clamp(1rem, calc(0.97rem + 0.15vw), 1.13rem);
  --step-1: clamp(1.13rem, calc(1.07rem + 0.28vw), 1.35rem);
  --step-2: clamp(1.27rem, calc(1.18rem + 0.44vw), 1.62rem);
  --step-3: clamp(1.42rem, calc(1.3rem + 0.64vw), 1.94rem);
  --step-4: clamp(1.6rem, calc(1.42rem + 0.9vw), 2.33rem);
  --step-5: clamp(1.8rem, calc(1.56rem + 1.23vw), 2.8rem);
  --step-6: clamp(2.03rem, calc(1.7rem + 1.64vw), 3.36rem);
  --step-7: clamp(2.28rem, calc(1.85rem + 2.15vw), 4.03rem);
  --step-8: clamp(2.57rem, calc(2.01rem + 2.8vw), 4.84rem);
  --space-5xs: clamp(0.25rem, calc(0.25rem + 0vw), 0.25rem);
  --space-4xs: clamp(0.38rem, calc(0.36rem + 0.08vw), 0.44rem);
  --space-3xs: clamp(0.5rem, calc(0.47rem + 0.15vw), 0.63rem);
  --space-2xs: clamp(0.69rem, calc(0.67rem + 0.08vw), 0.75rem);
  --space-xs: clamp(0.75rem, calc(0.72rem + 0.15vw), 0.88rem);
  --space-s: clamp(0.88rem, calc(0.84rem + 0.15vw), 1rem);
  --space-m: clamp(1.31rem, calc(1.27rem + 0.23vw), 1.5rem);
  --space-l: clamp(1.75rem, calc(1.69rem + 0.31vw), 2rem);
  --space-xl: clamp(2.63rem, calc(2.53rem + 0.46vw), 3rem);
  --space-2xl: clamp(3.5rem, calc(3.38rem + 0.62vw), 4rem);
  --space-3xl: clamp(5.25rem, calc(5.07rem + 0.92vw), 6rem);
  --space-5xs-4xs: clamp(0.25rem, calc(0.2rem + 0.23vw), 0.44rem);
  --space-4xs-3xs: clamp(0.38rem, calc(0.31rem + 0.31vw), 0.63rem);
  --space-3xs-2xs: clamp(0.5rem, calc(0.44rem + 0.31vw), 0.75rem);
  --space-2xs-xs: clamp(0.69rem, calc(0.64rem + 0.23vw), 0.88rem);
  --space-xs-s: clamp(0.75rem, calc(0.69rem + 0.31vw), 1rem);
  --space-s-m: clamp(0.88rem, calc(0.72rem + 0.77vw), 1.5rem);
  --space-m-l: clamp(1.31rem, calc(1.14rem + 0.85vw), 2rem);
  --space-m-l-avg: clamp(1.5rem, calc(1.44rem + 0.31vw), 1.75rem);
  --space-l-xl: clamp(1.75rem, calc(1.44rem + 1.54vw), 3rem);
  --space-xl-2xl: clamp(2.63rem, calc(2.29rem + 1.69vw), 4rem);
  --space-2xl-3xl: clamp(3.5rem, calc(2.88rem + 3.08vw), 6rem);
  --space-3xs-xs: clamp(0.5rem, calc(0.41rem + 0.46vw), 0.88rem);
  --space-xs-m: clamp(0.75rem, calc(0.57rem + 0.92vw), 1.5rem);
  --space-s-l: clamp(0.88rem, calc(0.6rem + 1.38vw), 2rem);
  --space-s-xl: clamp(0.88rem, calc(0.35rem + 2.62vw), 3rem);
  --space-s-2xl: clamp(0.875rem, 0.1058rem + 3.8462vw, 4rem);
  --space-m-2xl: clamp(1.31rem, calc(0.65rem + 3.31vw), 4rem);
  --space-l-2xl: clamp(1.75rem, calc(1.2rem + 2.77vw), 4rem);
  --space-l-3xl: clamp(1.75rem, calc(0.7rem + 5.23vw), 6rem);
  --space-s-4xl: clamp(0.88rem, calc(-0.88rem + 8.77vw), 8rem);
  --layer-0: 0;
  --layer-1: 100;
  --layer-2: 200;
  --layer-3: 300;
  --layer-4: 400;
  --layer-overlays: 1000;
  --layer-modal: 1050;
  --layer-3rd-party-modal: 1075;
  --layer-toasts: 1100;
  --layer-dropdowns: 1200;
  --duration: 280ms;
  --short-duration: 130ms;
  --easing: cubic-bezier(0.39, 0.575, 0.565, 1);
  --round: var(--space-3xs);
  --round-m: var(--step-0);
  --round-l: var(--step-3);
  --page-background: var(--white);
  --text-color: var(--gray-600);
  --font-weight: 400;
  --duration: 280ms;
  --easing: cubic-bezier(0.39, 0.575, 0.565, 1);
  --font-weight-strong: 450;
  --font-weight-stronger: 500;
  --font-weight-strongest: 550;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* navigation and hero section */
button.btn.btn-primary.navdown_btn {
  float: right;
}

.row.navRow {
  align-items: center;
}

.navbardiv {
  padding: 5px 0px;
  transition: background, border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--easing);
}

a.navbar-brand.logo {
  width: 3.2ch;
  height: auto;
  color: white;
}

.cmn_btn {
  background-color: #1b76ff;
  font-size: 17px;
  font-weight: 550;
  box-shadow: 0 1px 2px var(--gray-800-alpha-5), 0 0 0 3px transparent;
  padding: 12px 30px;
  border-radius: 10px;
}

p.startptext {
  font-size: 17px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.85);
  padding-top: 10px;
}

section.top_section {
  background-image: url(../image/why-whisky.webp);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 120px;
  overflow: hidden;
}

section.heroSection.text-center.text-white h1 {
  font-size: 68px;
  padding-bottom: 10px;
  font-weight: 600;
  font-family: "Playfair Display";
}

section.heroSection.text-center.text-white h4 {
  font-size: 21px;
  font-weight: 400;
  padding-bottom: 45px;
  color: rgba(255, 255, 255, 0.85);
  line-height: 31px;
}
/* Custom styles for the navbar */
/* .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30'  xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  .navbar-toggler.collapsed .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M23 6l-10 9 10 9'/%3E%3C/svg%3E");
  } */
.blackcolor {
  color: #344054 !important;
  transition: color 0.3s ease; /* Adjust the duration and easing function as needed */
}
.stickyNav {
  position: fixed;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  background: var(--white-alpha-50);
  border-bottom-color: var(--gray-700-alpha-5);
  transition: color 0.3s ease;
}

.navbar-nav .nav-link {
  color: black; /* Navbar link color */
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler:focus {
  outline: none; /* Remove outline on focus for better aesthetics */
}

div#navbarSupportedContent {
  text-align: center;
  padding-top: 0;
}
span.navbar-icon i {
  font-size: 22px;
  color: white;
}

i.fas.fa-times.close-icon {
  font-size: 22px;
}
p.heroinfop {
  font-size: 14px;
  width: 484px;
  margin: auto;
  padding-top: 45px;
  color: rgba(255, 255, 255, 0.85);
  line-height: 20px;
}

.col-xs-12.col-sm-3.exc_col {
  text-align: center;
}

section.excellent_section {
  margin: 35px;
  border-radius: 9px;
  box-shadow: 0 12px 16px -4px var(--gray-800-alpha-5),
    0 4px 6px -2px var(--gray-300-alpha-40);
  padding: 30px;
  margin-top: -80px;
  background: white;
  position: relative;
  margin-bottom: 50px;
}

.col-xs-12.col-sm-3.exc_col img {
  width: 100%;
  padding: 22px;
}

.row.exc_row {
  align-items: center;
  position: relative;
  overflow: hidden;
}

.col-xs-12.col-sm-3.exc_col {
  border-right: 1px solid #ccb5b554;
}

.col-xs-12.col-sm-3.exc_col:last-child {
  border: none;
}

section.heroSection.text-center.text-white {
  margin-top: 70px;
}

/* navigation and hero section end */

/* annanlised section start */
.trackrecordtitle h5 {
  color: #6c9e8f;
  font-size: 17px;
  font-weight: 550;
  padding-bottom: 8px;
}

.trackrecordtitle h1 {
  color: #344054;
  font-size: 41px;
  font-weight: 550;
  font-family: "Playfair Display", serif;
}

.sold_title {
  background: #4d7066;
  color: white;
  text-align: center;
  width: 128px;
  margin: auto;
  border-radius: 30px;
}

.sold_title h4 {
  font-size: 13px;
  padding: 8px 0px;
  font-weight: 550;
}

.sold_info.text-center h3 {
  color: #344054;
  font-size: 29px;
  padding-top: 10px;
  font-weight: 600;
}

.sold_info.text-center p {
  font-size: 17px;
  font-weight: 500;
  color: #475467;
  line-height: 26px;
}

.sold_info.text-center h6 {
  font-weight: 400;
  color: #344054;
  margin: 0;
  font-size: 15px;
}
.col-xs-12.col-sm-3.exc_col h4 {
  font-size: 29px;
  color: rgb(52, 64, 84);
  font-weight: 550;
  line-height: 36px;
}

.col-xs-12.col-sm-3.exc_col p {
  font-size: 17px;
  line-height: 26px;
  font-weight: 500;
  color: rgb(91, 133, 121);
}
.sold_info.text-center {
  background: #f7fcf8;
  padding: 30px;
  border-radius: 20px;
}

.annulised_text p {
  font-size: 12px;
  color: #9ca5b6;
  padding: 10px 185px;
  padding-top: 35px;
  line-height: 18px;
}

.row.secondRow {
  padding-top: 23px;
}

section.annulised_section {
  padding: 100px 0px;
}

.trackrecordtitle.text-center {
  padding-bottom: 40px;
}
.sold_title.longinfo {
  width: 146px;
}
.sold_info.text-center p i {
  padding-right: 7px;
}
/* annanlised section end */

/* panic section start */

p.panic_title_p {
  padding: 12px 264px;
  margin: auto;
  font-size: 17px;
  color: rgb(71, 84, 103);
  line-height: 26px;
  padding-bottom: 20px;
}

.common_content img {
  width: 80px;
  height: 80px;
}

h3.cmn_title {
  color: #344054;
  padding-top: 18px;
  padding-bottom: 5px;
  font-weight: 600;
  font-size: 21px;
}

p.cmn_description {
  color: #475467;
  width: 90%;
  margin: auto;
  font-size: 17px;
}
.cmn_image.text-center span svg {
  width: auto;
  height: 6.5ch;
}
/* panic section end */

/* sipping section start */

.cmn_title.text-center h5 {
  color: rgb(108, 158, 143);
  font-size: 17px;
  font-weight: 550;
}

.cmn_title.text-center h1 {
  font-size: 41px;
  color: rgb(52, 64, 84);
  font-family: "Playfair Display";
  padding: 0px 192px;
}
.cmn_title.text-center h4 {
  font-size: 21px;
  font-weight: 400;
  color: rgb(71, 84, 103);
  line-height: 31px;
  padding: 15px 211px;
  padding-top: 30px;
}

.cmn_title.text-center h6 {
  font-size: 17px;
  line-height: 26px;
  color: #475467;
  font-weight: 550;
  padding-bottom: 50px;
}
section.sipping_section {
  padding: 100px 0px;
}
.textContent h2 {
  font-size: 25px;
  color: #5b8579;
  line-height: 34px;
  padding-bottom: 5px;
}

.textContent p {
  font-size: 17px;
  color: #5b8579;
  line-height: 26px;
}

.icon_content {
  color: #5b8579;
  width: 90px;
}

.textContent {
  width: 235px;
}

.desktop_view {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icon_div_title svg {
  width: 23px;
  color: #5b8579;
}

.item_line__4_AhN {
  width: 2px;
}

.icon_div_title svg line {
  width: 2px;
}

svg.paragraph_paragraph___mQLb.paragraph_darkMint__XLqXc.paragraph_inherit__3_1kH.item_line__4_AhN {
  width: 2px;
  justify-self: center;
}
.icon_div_title {
  display: grid;
  grid-template-columns: 2.4ch 1fr;
  grid-gap: var(--space-2xs) var(--space-s);
  gap: var(--space-2xs) var(--space-s);
  align-items: start;
}

.icon_div_title h2 {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
}
.icon_div_title.textContent p {
  font-size: 16px;
  line-height: 24px;
}

.icon_div_title.textContent {
  width: 77%;
}
.desktop_view.first_desktop {
  justify-content: space-between;
}
.textContent.text-center.second-text {
  width: 80%;
}

.textContent.text-center.second-text p {
  padding: 0px 49px;
}
.img_titl img {
  width: 28px;
  margin-right: 0.85rem;
}

.img_titl {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_titl h3 {
  margin: 0;
  font-size: 25px;
  line-height: 34px;
  color: #5b8579;
  font-weight: 550;
}
.sipping_steps p {
  padding-top: 15px;
  font-size: 17px;
  line-height: 26px;
  color: #5b8579;
}

.sipping_steps {
  text-align: center;
}

button.capital {
  font-size: 14px;
  color: #344c45;
  font-weight: 550;
  cursor: context-menu;
  border: none;
  border: 1px solid transparent;
  background: #edf8ef;
  padding: 2px 8px;
  border-radius: 34px;
}
.moblie_view {
  display: none;
}

/* sipping section end*/
/* slider start */
.swiper-button-next i,
.swiper-button-prev i {
  font-size: 18px; /* Adjust the font size as per your preference */
  color: #344054;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative;
  top: 0;
  left: 0;
  width: 50px; /* Adjust width */
  height: 50px; /* Adjust height */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00a3ff00; /* Set the background color of the circle */
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0 1px 2px var(--gray-800-alpha-5), 0 0 0 3px transparent;
  border: 1px solid #344054;
  border-color: var(--gray-200) !important;
}

.controller_btns {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust margin as needed */
  gap: 300px; /* Add gap between buttons */
}

p.testimonial_description {
  font-size: 21px;
  color: #475467;
  line-height: 31px;
}

p.testimonial_description {
  font-size: 21px;
  color: #475467;
  line-height: 31px;
}

.carddiv {
  width: 100% !important;
  margin: auto;
}

.controller_btns {
  display: flex;
  justify-content: center;
  /* Adjust margin as needed */
  padding-top: 50px;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative; /* Ensure the buttons are positioned within the flex container */
  top: 0;
  left: 0;
}
.slider-content.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
  width: 60%;
  margin: auto;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "";
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "";
}
h1.testimonial_title {
  font-size: 41px;
  line-height: 47px;
  color: #344054;
  font-weight: 600;
  font-family: "Playfair Display";
  padding-bottom: 35px;
}
.review_star {
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.review_star img {
  width: 160px;
}
.review_fixed_image.text-center img {
  width: 290px;
}
h6.custome_name {
  font-size: 17px;
  line-height: 26px;
  color: #475467;
  font-weight: 550;
}
/* slider end */
/* reason section start */
section.review_section {
  padding-bottom: 70px;
}
.second_row {
  padding-top: 50px;
}
/* reason section end */

/* simple and secure section start */
.simple_secure {
  padding: 100px 0px;
}
.simple_secure svg {
  height: 4.1ch !important;
  color: #5b8579;
}
/* simple and secure section end */

/* confidence section start */
.confidence-content {
  max-width: 65ch;
  margin: auto;
}

.confidence-content img {
  width: 100%;
  border-radius: 20px;
}
.Confidence_text h3 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 550;
  padding-bottom: 10px;
}

.Confidence_text p {
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  color: #475467;
}

.Confidence_text h4 {
  font-size: 21px;
  line-height: 31px;
  color: #344054;
  font-weight: 550;
}

.Confidence_text {
  padding: 50px 0px;
}
section.certified_section {
  background: #edf8ef;
  padding: 50px 0px;
}
.certified_text h1 {
  font-size: 41px;
  font-family: "Playfair Display";
  color: #344054;
  line-height: 47px;
  font-weight: 600;
}

.certified_text p {
  font-size: 17px;
  color: #475467;
  line-height: 26px;
  font-weight: 400;
  padding-right: 77px;
}
.icon1 img {
  width: 130px;
}

.icons_div {
  display: flex;
  justify-content: center;
}

.icon1 {
  text-align: center;
}

.icon1 p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #475467;
  width: 200px;
  padding-top: 15px;
}

.first_icon {
  display: flex;
  align-items: center;
}

.first_icon p {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  width: 338px;
  padding-left: 30px;
}

.first_icon img {
  width: 105px;
}

.first_icon {
  padding-bottom: 30px;
}

.first_icon:last-child {
  padding-bottom: 0;
}
.mobile_view_certified {
  display: none;
}
.icon_row_second {
  align-items: center;
}
/* confidence section end */
/* faq section start */
.cmn_image.text-center img {
  width: 58px;
}
.common_content.text-center.faqContent h3 {
  color: #344054;
  line-height: 31px;
  font-size: 21px;
}

.common_content.text-center.faqContent {
  padding: 0px 10px;
}
.row.faqsecondRow {
  padding-top: 100px;
}
section.faqSection {
  padding: 80px 0px;
}
/* faq section end */

/* get started section start */
.mobile_imagediv {
  display: none;
}
.getstart_contents p {
  padding-right: 0;
}
.startedImg img {
  width: 60%;
}

.startedImg {
  text-align: right;
}
.start_row {
  align-items: center;
}
section.getStarted {
  background: #edf8ef;
  padding: 70px 0px;
}
/* get started section end */
/* footer start */

.disclaimer_disclaimer__cZTjq {
  width: 100%;
  margin-top: 1.5rem;
  font-size: 0.75rem;
  color: var(--gray-400);
}
.footer_logo svg {
  width: 3ch;
}

footer.footer ul li {
  list-style: none;
  display: flex;
}

footer.footer ul li a {
  text-decoration: none;
  color: #2a3548;
  font-size: 17px;
  line-height: 26px;
  font-weight: 550;
}

footer.footer ul {
  display: flex;
  gap: 30px;
  padding: 0;
  margin-bottom: 0;
}

.footer_logo {
  width: 30px;
  margin-right: 70px;
}
.payments_div svg {
  width: 3ch;
}

.payments_div ul {
  padding: 0;
}
.footer_menu {
  display: flex;
  align-items: center;
}

.social_icons {
  text-align: right;
}

.social_icons ul {
  justify-content: end;
}
.social_icons ul li a {
  font-size: 27px !important;
}

.row.footermenu_row {
  align-items: center;
  padding: 50px 0px;
  border-bottom: 1px solid #00000030;
}
footer.footer {
  padding-bottom: 50px;
  padding-top: 20px;
}

/* footer end */

/* form design start */
.formModel {
  max-width: 800px !important;
}
.progressDiv {
  width: 400px;
  height: 3px;
  background: #eaeaeb;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 10px;
}
.progressBar {
  width: 20%;
  background: #4d7065;
  height: 3px;
}
.closeBtn {
  text-align: right;
  padding: 10px;
  margin-top: -36px;
  padding-right: 20px;
}
label.btn.optionBtn {
  background: white;
  border: 3px solid #eaeaeb;
  border-radius: 15px;
  width: 195px;
  padding: 15px;
  font-size: 15px;
  font-weight: 550;
  color: black;
}
.optionBtn {
  background: white;
  border: 3px solid #eaeaeb;
  border-radius: 15px;
  width: 195px;
  padding: 15px;
  font-size: 15px;
  font-weight: 550;
  color: black;
}
label.btn.optionBtn:checked {
  background: #f6f8f7;
  border-color: #91a6a0;
}
label.btn.optionBtn:hover {
  background: #f6f8f7;
  border-color: #91a6a0;
}
.options {
  display: flex;
  gap: 15px;
  padding-bottom: 9px;
  justify-content: center;
}

.btn-check {
  display: none;
}

.btn.optionBtn {
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, border-color 0.3s;
}

.btn.optionBtn:hover {
  background: #f6f8f7;
  border-color: #91a6a0;
}

.btn-check:checked + .btn.optionBtn {
  background: #f6f8f7;
  border-color: #91a6a0;
}
.option1.optionBtn:checked {
  background: #f6f8f7;
  border-color: #91a6a0;
}
.form1.text-center p {
  color: #000;
  margin: auto;
  padding-bottom: 30px;
}

h1.formTitle {
  font-size: 32px;
  font-family: "Playfair Display";
  color: #0a0908;
  font-weight: 600;
  padding-bottom: 30px;
}
.infoText p {
  font-size: 19px;
  color: #505051;
  font-weight: 400;
  margin: 0;
  padding: 0 !important;
}

.infoText {
  padding-top: 30px;
  padding-bottom: 10px;
}
.form1,
.form2,
.form3 {
  width: 405px;
  margin: auto;
}
.svg-container svg {
  height: 100%;
  width: 50px;
  color: #759189;
  fill: #759189;
}
button#nextBtn {
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 550;
  background: #1b76ff;
  color: white;
  border-radius: 7px;
  margin: 20px 0px;
  margin-bottom: 10px;
}
label.btn.yes_nobtn {
  font-weight: 550;
  padding-top: 15px;
}
.option1.optionBtn {
  padding: 20px 15px;
}
label.btn.optionBtn.yes_nobtn {
  padding: 20px 15px;
}
/* preloader */
.preloader {
  position: relative;
  width: 8em;
  height: 8em;
  margin: auto;
}

.spinner {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-left-color: #4d7066;
  animation: spin 2s linear infinite;
  animation-duration: 0.8s;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  color: #4d7066;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.preloader.show-check .spinner {
  border: 2px solid #4d7066;
  border-top: 2px solid #4d7066;
  animation: none;
}

.preloader.show-check .checkmark {
  display: block;
  opacity: 1;
}

.evaluate_data h1 {
  color: #505051;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.35;
}

.dataText h3 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: normal;
  color: #505051;
  text-transform: unset;
  margin: 0em;
  padding: 20px 0px;
}

.dataText p {
  font-family: Inter;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: normal;
  color: #505051;
  text-transform: unset;
  margin: 0em;
}
.preloaderdiv {
  padding-top: 40px;
}

.evaluate_data.text-center {
  max-width: 100% !important;
}
.dataText {
  padding: 30px 0px;
  border-top: 1px solid #00000042;
  border-bottom: 1px solid #00000042;
  margin: 35px 20px;
}
/* preloader end */
.col-xs-12.col-sm-3.exc_col p {
  padding: 0px 21px;
}
.bookimg.text-center img {
  width: 165px;
}
h1.formTitle.boldtitle {
  font-family: Inter;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: normal;
  color: #505051;
  text-transform: unset;
  margin: 0em;
}

.form3 input {
  border-radius: 16px;
  background: #fcfcfc;
  outline: none !important;
}
.form3 input:focus {
  box-shadow: none !important;
  border-color: #4d7066;
  border-width: 2px;
}

.form3 label {
  color: #787777;
}
.namediv {
  display: flex;
  gap: 25px;
}
span#basic-addon1 {
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}
input.form-control.phoneNum {
  padding: 15px;
}
.error_text {
  background: #fceff1;
  padding: 5px;
  display: flex;
  align-items: center;
  padding-left: 0px;
  gap: 10px;
  color: #d10822;
  border-bottom-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
  border: 1px solid #d10822;
  font-size: 13px;
  text-align: left;
  padding-left: 17px;
}
.first_name_error{
  display: none;

}
.last_name_error{
  display: none;
}
.email_error{
  display: none;
}
.phone_error{
  display: none;
}
.errorBorder {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  margin-bottom: 0 !important;
}
button.guide_Btn svg {
  width: 20px;
  height: 20px;
  color: white;
}
.btntext p {
  padding: 0;
  margin: 0;
  font-size: 0.825em;
  color: #fffc;
}

button.guide_Btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  border: none;
  background: #1b76ff;
  padding: 15px;
  border-radius: 10px;
}

.btntext h6 {
  font-size: 1em !important;
  margin: 0;
  color: white;
  font-weight: 550;
}
.guidebtnDiv {
  padding-bottom: 40px;
}
button.guide_Btn.thankyouguide {
  background: #4e7066;
  width: 405px;
  margin: auto;
}

.guidebtnDiv a {
  text-decoration: none;
}
h1.formTitle.thankyoutitle {
  color: #505051;
  font-family: "Inter";
}

.spinnerdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 30px;
}

.spinnerdiv .preloaderdiv {
  padding-top: 0;
}

.pdfdownloadbtn {
  padding: 20px;
}

.pdfdownloadbtn a {
  font-weight: bold;
}
/* form design end */

.form2 {
  display: none;
}

.evaluate_data {
  display: none;
}

.form3 {
  display: none;
}

.thank_you {
  display: none;
}

form {
  padding: 20px 0px;
}
.mar_hide{
  margin-bottom: 0 !important;
}
.error_text i {
  padding-right: 6px;
}